<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.mohan.mapper.MenuMapper">


    <select id="selectPermsByUserId" resultType="java.lang.String">
        SELECT DISTINCT `perms` FROM `sys_menu` WHERE `status` = 0 AND `del_flag` = 0 AND `menu_type` IN ('C','F') AND `id` IN (
            SELECT DISTINCT `menu_id` FROM `sys_role_menu` WHERE `role_id` IN (
                SELECT `role_id` FROM `sys_user_role` WHERE `user_id` = #{userId}
            )
        )
    </select>

    <select id="selectAllRouterMenu" resultType="MenuVo">
        SELECT
            DISTINCT `id`,`menu_name`,`parent_id`,`order_num`,
                     `path`,`component`,`menu_type`,`visible`,
                     `status`,`perms`,`icon`,`create_time`
        FROM `sys_menu`
        WHERE
            `status` = 0 AND
            `del_flag` = 0 AND
            `menu_type` IN ('C','M')
        ORDER BY `parent_id`,`order_num`
    </select>

    <select id="selectRouterMenuTreeByUserId" resultType="MenuVo">
        SELECT
            DISTINCT `id`,`menu_name`,`parent_id`,`order_num`,
                     `path`,`component`,`menu_type`,`visible`,
                     `status`,`perms`,`icon`,`create_time`
        FROM `sys_menu`
        WHERE
            `status` = 0 AND
            `del_flag` = 0 AND
            `menu_type` IN ('C','M') AND
                `id` IN (
                SELECT DISTINCT `menu_id` FROM `sys_role_menu` WHERE `role_id` IN (
                    SELECT DISTINCT `role_id` FROM `sys_user_role` WHERE `user_id` = #{userId}
                )
            )
        ORDER BY `parent_id`,`order_num`
    </select>


    <resultMap id="menuVo" type="MenuVo">
        <result  property="id" column="aid"/>
        <result  property="menuName" column="amn"/>
        <result  property="parentId" column="api"/>
        <result  property="orderNum" column="aon"/>
        <result  property="path" column="ap"/>
        <result  property="component" column="ac"/>
        <result  property="menuType" column="amt"/>
        <result  property="visible" column="av"/>
        <result  property="status" column="as"/>
        <result  property="perms" column="ape"/>
        <result  property="icon" column="ai"/>
        <result  property="createTime" column="act"/>
        <collection property="children" ofType="MenuVo">
            <result  property="id" column="bid"/>
            <result  property="menuName" column="bmn"/>
            <result  property="parentId" column="bpi"/>
            <result  property="orderNum" column="bon"/>
            <result  property="path" column="bp"/>
            <result  property="component" column="bc"/>
            <result  property="menuType" column="bmt"/>
            <result  property="visible" column="bv"/>
            <result  property="status" column="bs"/>
            <result  property="perms" column="bpe"/>
            <result  property="icon" column="bi"/>
            <result  property="createTime" column="bct"/>
        </collection>
    </resultMap>


</mapper>
